/* COLOR CODES
DARK GREY: #434C43
CREAM WHITE:#F7F3F0
DARK BLUE: #1C2F4A
LIGHT GREEN:#08D8A0 */


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* CSS reset for Gridlex */
[class*='col-']{
    padding:0;
    margin:0;
}

/* Reusable Utility classes */

.padded     {padding:5%;}
.padded-1   {padding:1rem;}

.left       {text-align:left;}
.center     {text-align:center;}
.right      {text-align:right;}

.vh-100     {max-height:100vh:}
.vh-80      {max-height:80vh;}
.vh-50      {max-height:50vh;}

.bg-image   {
    background-image:url(/images/hotel-pool.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:90vh;
}

.bg-light   {
    color: #1C2F4A;
    background-color:#F7F3F0;
}
.bg-dark    {
    color:#F7F3F0;
    background-color:#434C43;
}


/* text utility classes */
.normal-text{
    font-family:'Montserrat',sans-serif;
    font-weight:300;
    font-size:1rem;
    line-height:1.5;
}

.big-text{
    font-family:'Cormorant Garamond',serif;
    font-weight:700;
    font-size:3rem;
    line-height:0.9;
    margin-top:1.5rem;
    color:#1C2F4A;
}

.light-text{
    font-family:Montserrat, sans-serif;
    font-weight:200;
    font-size:1.1rem;
    color:#08D8A0;
}

.header-text{
    color:#F7F3F0;
    weight:700;
    }


/* nav bar styling */

header .big-text{
    margin-top:0;
}
nav a{
    color:#434C43;
    font-family:Montserrat, sans-serif;
    text-decoration:none;
    font-weight:400;
    font-size:1.2rem;
    text-transform:uppercase;
}

nav a:hover{
    font-weight:700;
    border-bottom:2px solid;
    line-height:0.9;
}

