/* COLOR CODES
DARK GREY: #434C43
CREAM WHITE:#F7F3F0
DARK BLUE: #1C2F4A
LIGHT GREEN:#08D8A0 */


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* CSS reset for Gridlex */
[class*='col-']{
    padding:0;
    margin:0;
}

[class*="grid-"], [class*="grid_"], [class~="grid"]{
    margin:0;
}


body{
    background-color:#F7F3F0;
}
/* Reusable Utility classes */

.padded     {padding:5%;}
.padded-1   {padding:1rem;}

.left       {text-align:left;}
.center     {text-align:center;}
.right      {text-align:right;}

.vh-100     {max-height:100vh;}
.vh-80      {max-height:80vh;}
.vh-50      {max-height:50vh;}

.bg-image   {
    background-image:url(/images/hotelito.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:90vh;
}

.bg-light   {
    color: #1C2F4A;
    background-color:#F7F3F0;
}
.bg-dark    {
    color:#F7F3F0;
    background-color:#434C43;
}

.portrait-tall  {padding-bottom:175%;}
.portrait       {padding-bottom:125%;}
.square         {padding-bottom:100%;}
.square-esp       {padding-bottom:135%;}
.landscape      {padding-bottom:66%;}
.landscape-wide {padding-bottom:56%;}


/* background position utillity classes */
.bg-pos-top     {background-position:top;}
.bg-pos-bottom  {background-position:bottom;}
.bg-pos-left    {background-position:left;}
.bg-pos-right   {background-position:right;}


/* text utility classes */
.normal-text{
    font-family:'Montserrat',sans-serif;
    font-weight:300;
    font-size:1rem;
    line-height:1.5;
}

.big-text{
    font-family:'Cormorant Garamond',serif;
    font-weight:700;
    font-size:3rem;
    line-height:0.9;
    margin-top:1.5rem;
    color:#1C2F4A;
}

.light-text{
    font-family:Montserrat, sans-serif;
    font-weight:400;
    font-size:1.1rem;
    color:#08D8A0;
}

.header-text{
    color:#F7F3F0;
    font-weight:700;
    background-color:#1C2F4A;
    opacity:70%;
    line-height:1.2;
    }

.menu-text{
    font-family:'Cormorant Garamond',serif;
    font-weight:700;
    font-size:3rem;
    line-height:0.9;
    margin-top:1.5rem;
    color:#F7F3F0;
}


/* nav bar styling */
.logo{
    text-decoration:none;
}



header .big-text{
    margin-top:0;
}
nav a{
    color:#434C43;
    font-family:Montserrat, sans-serif;
    text-decoration:none;
    font-weight:400;
    font-size:1.2rem;
    text-transform:uppercase;
    }

nav a:hover{
    border-bottom:2px solid #08D8A0;
    line-height:0.9;
    
}

.menu-link{
    color:#F7F3F0;
    font-family:Montserrat, sans-serif;
    text-decoration:none;
    font-weight:400;
    font-size:1.2rem;
    text-transform:uppercase;
    display:block;
    margin-top:1rem;
}



.menu-link:hover{
    color:#08D8A0;
}

.card a{
    color:#434C43;
    font-family:Montserrat, sans-serif;
    text-decoration:none;
    font-weight:400;
    font-size:1rem;
    text-transform:uppercase;
    
}

.card a:hover{
    border-bottom:2px solid #08D8A0;
        
}

/* LINK styles */

.link{
    color: #1C2F4A;
    text-decoration:none;
    border-bottom:2px solid;
    display:block;
    margin-top:1.5rem;
    }

.link:hover{
    border-bottom:2px solid #08D8A0;
}



.link-feature a{
    color:#1C2F4A;
    font-family:Montserrat, sans-serif;
    font-weight:300;
    font-size:1.5rem;
    text-decoration:none;
    padding:1rem 0;
    display:block;   

}

.link-feature a:hover{
    color:#08D8A0;
}


footer a{
    color:#F7F3F0;
    padding:0.5rem;
    font-size:2rem;
}

footer a:hover{
    color:#1C2F4A;
}

/* Image styles */

.big-image-1{
    background-image:url(/images/hotel-room-1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    
}

.card-image-1{
    background-image:url(/images/hotel-room-1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    
}

.card-image-2{
    background-image:url(/images/hotelito-room2.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    
}

.card-image-3{
    background-image:url(/images/hotelito-room-3.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
  
}

.big-image-2{
    background-image:url(/images/hotelito-room-4.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:60vh;
}

.rooms-banner-image{
    background-image:url(/images/hotel-room-1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:90vh;
}

.restaurant-banner-image{
    background-image:url(/images/restaurant-1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:90vh;
}



.gallery [class*='col-']{
    padding:2%;
  }


  .gallery .bg-image-1{
    background-image:url('/images/hotelito-food-1.jpg');
  }
  
  .gallery .bg-image-2{
    background-image:url('/images/hotelito-food-2.jpg');
  }
  
  .gallery .bg-image-3{
    background-image:url('/images/hotelito-food-3.jpg');
  }
    
  .gallery .bg-image-4{
    background-image:url('/images/hotelito-food-4.jpg');
  }
  
  .gallery .bg-image-5{
    background-image:url('/images/hotelito-food-5.jpg');
  }
  
  .gallery .bg-image-6{
    background-image:url('/images/hotelito-food-6.jpg');
  }
  
  .gallery .bg-image-7{
    background-image:url('/images/hotelito-food-7.jpg');
  }
  
  
  .catering{
      background-image:url('/images/hotelito-catering.jpg');
  }